/* styles for note 2 self hotel project2 */

@font-face{
      font-family:"Hunterscrawl1";
      src: url("assets/Hunterscrawl1-Regular lg.otf");
}

body {
    background-color: dimgray;
    color: white;
    background-image: url("assets/hellomemoirtestbannerwebc.jpg");
    background-size: tile;
    font-family: Hunterscrawl1, sans-serif;
    margin: 0;
}

p{
    font-size: 1rem;
}

.mainContainer {
    background-color: black;
    width: 100%;
    max-width: 1100px;
    display: block;
    margin: 1% auto;
    padding: 5rem;


}

.headerImg {
    width: 100%;
    background-color: black;
    padding: 1rem 0;




  }
.footercontainer {
  background-color: black;
  max-width: 115%;
  display: block;
  margin: 1% auto;
  padding: 3rem;
  text-align: center;


}
.theartofjmhunterbanner {
    display: block;
    margin:  auto;
    width: 100%;


}

.imageTileparent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.firstrowpanels {
    margin: 1rem;
}

.specialBorder {
    border: red solid 1rem;



}

.dancing {
    margin:1rem auto;
    max-width: 600px;
    display: block;
  }
