
@font-face {
  font-family: "Chenfont";
  src: url("Chenfont.otf");
}

body {
  font-family: Chenfont, sans-serif;
}

img {
  background-color: #9BC4C5;
  width: 28%;
  max-width: 1000px;
  height: auto;
  display: block;
  margin: 10rem auto;
  padding: 1rem;
  font-family: Chenfont, sans-serif;
}

p {
  font-size: 2rem;
  font-family: Chenfont, sans-serif;
}

.linkCover {
  position: absolute;
  left: 50rem;
  bottom: 1rem;
  font-family: Chenfont, sans-serif;
}
