/* styles for my css demo */

@font-face {
      font-family: "PoppyFont";
      src: url("./assets/PoppyFont.otf");
}

body {
        background-color: white;
        /* max-width: 1000px; */
        color: black;
        text-align: center;
        background-size: cover;
        background-attachment: fixed;
        font-family: PoppyFont, sans-serif;
}

img {
  width: 100%;
  max-width: 800px;
  display: block;
  margin: 2rem auto;
}

.titleLink  {
    max-width: 100vw;
    display: flex;
    justify-content: center;
}

.titleLink img {
    width: auto;
    max-width: 20vw;

}

.adventureBlock {
    display: flex;
    min-width: 900px;
    justify-content: center;
    align-items: flex-start;
    cursor: pointer;


}

.adventureBlock img {
    width: 300px;
    align-items: center;

}


h1 {
  background-color: white;
  color: rgba(50,50,124,.5);
  text-align: center;
}

p {
  text-align: center;
  color: black;
}

a {
  width: 100%;
  max-width: 1000px;
  display: block;
  align-content: center;
  margin: auto;
}

/* .titleBlock {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    margin: 10rem auto;
    padding: 1rem;
} */

.titleBlock1 {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    margin: auto;
    padding: 1rem;
}

.imgChanger1 {
  width: 20%;
}
.imgChanger2 {
  width: 20%;
}
.imgChanger3 {
  width: 20%;
}
.imgChanger4 {
  width: 20%;
}
.imgChanger5 {
  width: 20%;
}

.moreDreams {
    padding: 1rem;
    display: none;
    margin: auto;

}

.button {
  background-color: orange;
  padding: 1rem;
  max-width: 10rem;
  align-content: center;

}

#nextPage{
    cursor: pointer;
}

.titleBackground {
    max-width: inherit;
    margin-top: -15%;
    display: flex;
}
