body {
  background-color: #080809;
  margin: 0;
  padding: 0;
}

.comic {
  position: relative;
 /* height: 100vh; */
 width: calc(100vh * 8);
}

.comic img {
 height: 100%;
}

.overlay {
 position: absolute;
 top: 0;
 left: 0;
}

.startAgain {
 position: absolute;
 height: 10vh;
 width: auto;
 right: 50vh;
 top: 40vh;
}
